@model PostViewModel
@{
    var postCount = Model.Posts.Count();
}

    @if (postCount == 0)
    {
            <div class="row mt-4">
        <div class="alert alert-warning" role="alert">
            There is no post for this category
        </div>
            </div>

    }
    else
    {
<div class="row">
    @foreach (var post in Model.Posts)
    {
     
        <div class="col-md-4 mb-4 mt-3">
            <div class="card">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="~/img/@post.PostImageUrl" alt="@post.PostTitle">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@post.PostTitle</h5>
                    <h6 class="card-text"> Published Date : @post.PostPublishedDate</h6>
                    <p> Post Summary: @post.PostShortDescription</p>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@post.PostId" class="btn btn-primary btn-sm">Details </a>
                </div>
            </div>
        </div>
    }

</div>
}