@model PostViewModel

@{
    var postCount = Model.Posts.Count();
}
    @if (postCount==0)
    {

      <div class="row mt-3">
         <div class="alert alert-warning" role="alert">
            Herhangi bir sonuç bulunamadı
        </div>
    </div>
    }
    else
    {
    

<div class="row m-5">
    @foreach (var post in Model.Posts)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="~/img/@post.PostImageUrl" alt="@post.PostTitle">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@post.PostTitle</h5>
                    <h6 class="card-text"> Yayımlanma Tarihi : @post.PostPublishedDate</h6>
                    <p> Konu Özeti @post.PostShortDescription</p>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@post.PostId" class="btn btn-primary btn-sm">Devamını Oku </a>
                </div>
            </div>
        </div>
    }

</div>
}