@model CommentViewModel
@{
    Layout="_Layout3"; 
    var postByComment=Model.PostByComments; 
}

<h4 align="center"> Comments </h4>


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Post Title</th>
                <th scope="col">Post Summary</th>
                <th scope="col">Name</th>
                <th scope="col">Comment Text</th>
                <th scope="col">Show in homepage</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var comment in Model.Comments)
        {
            var post = Model.PostByComments.FirstOrDefault(p => p.PostId == comment.PostId);
            var commendId= @comment.CommentId;
            var IsApproved = @comment.IsApproved;
            <tr>
                <td>@post.PostTitle</td>
                <td>@post.PostShortDescription</td>
                <td>@comment.Name</td>
                <td><textarea class="form-control" rows="2" required>@comment.CommendText</textarea></td>
                <td>

                    <form id="updateCommentForm-@commendId">
                        <input type="checkbox" asp-for="@comment.IsApproved" id="IsApprovedCheckbox-@commendId" class="custom-control-input">
                        <label for="IsApprovedCheckbox-@commendId" class="custom-control-label"></label>
                        <button type="button" class="btn btn-primary" onclick="submitComment('@commendId')" align="center">Save</button>
                    </form>
                </td>
            </tr>
          
            }
        <script>
            function submitComment(commentId) {
                var isApproved = $(`#IsApprovedCheckbox-${commentId}`).is(':checked'); 

               
                var data = {
                    CommentId: commentId,
                    IsApproved: isApproved
                };

               
                $.ajax({
                    url: '/Admin/UpdateComment',
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        if (result.success) {
                            alert(result.message); 

                            location.reload();
                        } else {
                            alert('Error.'); 
                        }
                    },
                    error: function () {
                        alert('Error'); 
                    }
                });
            }
        </script>

        </tbody>
    </table>




